<h1>献立表</h1>
<h3><%= @menu.menu_name %></h3>

<object data="<%= @menu.menu_pdf.url %>" type="application/pdf" width="1200" height="900"></object>

<%= link_to '一覧に戻る', teachers_menus_path, class: 'btn btn-info' %>
