<!-- userのshowのCSSも要確認 -->
<div>
  <div class="center">
    <span style="font-size:2em"><%= I18n.l(Date.today, format: :long) %><br><br></span>
    <span style="font-size:2em">クラス：<%= @classroom.class_name %><br><br><br></span>
    <span style="font-size:3em"><%= "本日のアレルギーチェック" %><br><br></span>
  </div>
  <div class="area">
    <% if @alergy_check_sum > 0 %>
      <%= link_to "有", today_index_teachers_alergy_checks_path, remote: true, class: "inline-block button" %>
    <% else %>
      <a class="inline-block button" href="#">無</a>
    <% end %>
  </div>
</div>

<!-- モーダル設定 -->
<div id="today-index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>