<h1>システム管理者画面</h1>

<ul class="list-group-flush">
  <li class="today--menu">
    <%= link_to '学校新規作成', new_system_admins_school_path, class: "btn btn-info btn-lg" %>
  </li>
  <li class="today--menu">
    <%= link_to '学校一覧', system_admins_schools_path, class: "btn btn-info btn-lg" %>
  </li>
  <li class="today--menu">
    <%= link_to 'ユーザー情報編集', '#', class: "btn btn-info btn-lg" %>
  </li>
</ul>