<!-- 管理者職員・対応法入力担当者・一般職員で表示項目の切り替え必要 -->
<h1>本日の作業選択</h1>

<% if teacher_signed_in? %>
  <ul class="list-group-flush">
    <% unless current_teacher.classroom_id == nil %>
      <li class="today--menu">
        <%= link_to '自クラス申請', '#', class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
    <% if current_teacher.charger? || current_teacher.admin? %>
      <li class="today--menu">
        <%= link_to '代理申請', '#', class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
    <% if current_teacher.creator? || current_teacher.admin? %>
      <li class="today--menu">
        <%= link_to '対応法作成', creator_teachers_path, class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
    <% if current_teacher.admin? %>
      <li class="today--menu">
        <%= link_to '報告の確認', '#', class: "btn btn-info btn-lg" %>
      </li>
    <% end %>
  </ul>
<% end %>