// Place all the styles related to the Admin_alergy_checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn_admin {
    display: inline-block;           /* 改行なしのブロック要素 */
    position: relative;              /* 相対位置指定 */
    right: -900px;
    width: 200px;                    /* 横幅 */
    height: 60px;                    /* 高さ */
    text-align: center;              /* 水平方向は中央揃え */
    line-height: 56px;               /* 行の高さ */
  }
  .btn_admin span {
    display: block;                  /* ブロック要素 */
    position: absolute;              /* 親要素の左上を基準位置 */
    width: 100%;                     /* 横幅 */
    height: 100%;                    /* 高さ */
    border: 2px solid #333;          /* 罫線 */
    transform-style: preserve-3d;    /* 重なりを3Dで表示 */
    transition: 0.5s;   /* 変化時間 */
  }
  .btn_admin span:nth-child(1) {
    background-color: #ffffff;   /* Buttonボタンの色 */
    color: #000000;          /* Buttonの文字の色 */
    transform: rotateX(0deg);        /* 横軸の回転なし */
    transform-origin: 0 50%  -30px;  /* transformの起点 */
  }
  .btn_admin span:nth-child(2) {
    background-color: #000000;   /* Clickボタンの色 */
    color: #ffffff;          /* Clickの文字の色 */
    transform: rotateX(90deg);       /* 横軸で90度回転 */
    transform-origin: 0 50%  -30px;  /* transformの起点 */
  }
  .btn_admin:hover span:nth-child(1) {
    transform: rotateX(-90deg);      /* 横軸で前方に90度回転 */
  }
  .btn_admin:hover span:nth-child(2) {
    transform: rotateX(0deg);        /* 横軸の回転なし */
  }
  