
table.table__alergy-contents--center > tbody > tr > td,
table.table__alergy-contents--center > thead > tr > th,
table.table__alergy-contents--center > thead > tr > td {
  text-align: center;
  vertical-align: middle;
}

// 担任ページ
.center .button__monthly-check {
  margin-bottom: 10px;
  margin-left: 15px;
}
// 月間チェック一覧ページ(担任)
.button__monthly > .btn {
  margin-bottom: 10px;
}