// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// タブ切り替え

.tab-list{
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
}

.tab {
  // width: 100%;
  // padding: 10px;
  // cursor: pointer;
  // border-left: solid 1px #CCC;
  // border-bottom: solid 1px #CCC;
  width: calc(100%/6);
  height: 50px;
  // border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
