.list-group-flush {
  padding-top: 10px;
  text-align: center;
}

.system_admin--menu {
  list-style: none;
  display: inline-block;
}

/* 学校一覧テーブル */
#index-school{
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}