
<h1>代理報告</h1>

<div>
  <div class="center">
    <span style="font-size:2em"><br><%= I18n.l(Date.current, format: :long) %><br><br></span>
  </div>
  <div>
    <%= form_with(url: today_index_teachers_alergy_checks_path, method: :get) do |f| %>
      <%= f.collection_select :select_classroom, @classrooms, :id, :class_name, 
                              { include_blank: "クラス名を選択" }, { class: "form-control", required: true } %>
      <%= f.submit "代理報告する", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>

<!-- モーダル設定 -->
<div id="today-index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>