<li><%= link_to "ホーム", root_path %></li>
<li><%= link_to '学校一覧', system_admins_schools_path %></li>
<li><%= link_to 'アカウント', edit_system_admin_registration_path %></li>
<li><%= link_to 'ログアウト', destroy_system_admin_session_path, method: :delete %></li>
